.add-passport{
  &__header {
    font-weight: 600;
  }
  &__form {
    // display: flex;
    // align-items: center;
    // flex-wrap: wrap;
  }
  // &__button, &__input {
  &__input {
    padding: .5rem;
    margin: 0 1rem 1rem 0;
    
  }
  &__button {
    // width: 32px;
    // font-size: 2rem;
    // padding: 0;
    // border: none;
    // cursor: pointer;
    // color: #fff;
    // background: none;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    // &::before {
    //   content: '';
    //   position: absolute;
    //   background: green;
    //   border-radius: 50%;
    //   width: 32px;
    //   height: 32px;
    //   z-index: -1;
    // }
  }
}