.PassportsToPrint {
  width: 100%;
  break-inside: avoid-page;
  padding: 1rem;
  box-sizing: border-box;
  &:hover {
    background: rgba(8, 6, 17, 0.267);
  }
  &__button {
    width: 15px;
    height: 15px;
    padding: unset;
    background: none;
    // border: 1px solid #da1e4d;
    border: none;
    border-radius: 50%;
    font-size: 8px;
    color: #da1e4d;
    cursor: pointer;
  }
}
.table {
  font-weight: 600;
  width: 100%;
  table-layout: fixed;
  color: #000;
  tr {
    display: flex;
    width: 100%;
    padding: 0 1px;
  }
  &__head-cell {
    display: flex;
  }
  &__header {
    font-weight: 600;
    display: inline;
    margin: 0;
    font-size: 1.1rem;
  }
  &__cell--letter {
    width: 5%;
  }
  &__cell--data {
    width: 45%;
    height: fit-content;
    text-overflow: clip;
  }
  &__flag {
    width: 60px;
    margin-right: 1rem;
  }
}

.Passport {
  width: 100%;
  padding: 1px;
  border: 1px solid black;
  background: #fff;
  &__paragraph {
    margin: 5px 0 4px;
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.DeletePassport {
  &__button {
    width: 40px;
    height: 40px;
    margin-left: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    width: 18px;
  }
}

@media print {
  @page { margin: 0; }
  .no-print { display: none; }
}