.PassportsToPrint {
  width: 100%;
  break-inside: avoid-page;
}
.table {
  font-weight: 600;
  width: 100%;
  table-layout: fixed;
  tr {
    display: flex;
    width: 100%;
    padding: 0 1px;
  }
  &__head-cell {
    display: flex;
  }
  &__header {
    font-weight: 600;
    display: inline;
    margin: 0;
    font-size: 1.1rem;
  }
  &__cell--letter {
    width: 5%;
  }
  &__cell--data {
    width: 45%;
    height: fit-content;
    text-overflow: clip;
  }
  &__flag {
    width: 60px;
    margin-right: 1rem;
  }
}

.passport {
  width: 100%;
  padding: 1px;
  border: 1px solid black;
  &__paragraph {
    margin: 5px 0 4px;
  }
  &__delete-button {
    margin-left: 18px;
    width: 32px;
    height: 32px;
    background: url('../icons/delete.svg') center center no-repeat;
    border: 1.5px solid #ff3434;
    border-radius: 50%;
    cursor: pointer;
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}